.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.342);
  z-index: 100;
}

.card-traveler {
  color: white;
  width: 100%;
  max-width: 500px;
}
.hidden {
  overflow: hidden;
}

li {
  list-style-type: none;
}

.active-hover:hover {
  text-decoration-line: underline;
  color: skyblue;
  cursor: pointer;
}

a {
  text-decoration: none;
}
